:root {
    --dark-color: #2E2F42;
    --text: #434455;
    --background-color: #FFFFFF;
    --background-color-page-header: #2E2F42;
    --light: #F4F4FD;
    --pressed-state: #404BBF;
    --primary-brand: #4D5AE5;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    background: var(--background-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

address {
    font-style: normal;
}
img{
    display: block;
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.section:nth-child(2n+1) {
    padding-top: 0;
}
.header-container{
    display: flex;
    align-items: center;
}
.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/* header */
.header{
    border-bottom: 1px solid #e7e9fc 
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--primary-brand);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-name {
    color: var(--dark-color);
}
.nav{
    display: flex;
    align-items: center;
}
.header-nav{
    display: flex;
}

.header-nav-list{
    margin-right: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.header-contact-list {
    margin-right: 40px;
    padding-top: 24px;
        padding-bottom: 24px;
}
.header-nav-list:last-child {
    margin-right: 0px;
}
.header-contact-list:last-child{
    margin-right: 0px;
}
.nav-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.list .link {
    color: var(--background-color-page-header);
}
.address{
    margin-left: 332px;
}
.link:hover,
.link:focus {
    color: var(--pressed-state);
}

 .contact-link:hover,
 .contact-link:focus {
    color: var(--pressed-state);
}
.contact-list{
    display: flex;
}

.contact-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}



/* section hero */

.hero {
    background: var(--background-color-page-header);
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--background-color);
    max-width: 496px;
    margin: 0 auto;
    padding-bottom: 48px;

}


.button-hero {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--background-color);
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: var(--primary-brand);
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--pressed-state);
}

/* section advantages and our-team */

.visually-hidden{
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.advantages-list{
    display: flex;
}
.advantages-list-item:not(:last-child),
.our-work-item:not(:last-child),
.team-item:not(:last-child) {
    margin-right: 24px;
}

.headlines {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--background-color-page-header);
    text-transform: capitalize;
    margin-bottom: 72px;
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--background-color-page-header);
    margin-bottom: 8px;
}

.description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}

.our-work-list{
    display: flex;
}
/* {
    margin-right: 24px;
} */

.our-team {
    background-color: var(--light);
    padding-bottom: 120px;
}
.team-list{
    display: flex;
}
.team-item{
border-radius: 0px 0px 4px 4px;
}
.team-container{
    background-color: var(--background-color);
    padding: 32px 16px
}
.team-container .title {
    text-align: center;
}

.team-container .description{
    text-align: center;
}

/* footer */
.footer {
    background: var(--background-color-page-header);
    padding: 100px 0
}

.logo-footer {
    color: var(--light);
}
.link-footer{
    display: inline-block;
    margin-bottom: 16px;
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light);
    max-width: 264px;
}


/* portfolio */
.section-portfolio{
padding-top: 96px;
    padding-bottom: 120px;
}
.portfolio-buttons-list{
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px
}
.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    background-color: var(--light);
    color: var(--primary-brand);
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    padding: 12px 24px;
}

.button:hover,
.button:focus {
    background: var(--pressed-state);
    color: var(--background-color);
    border: 1px solid transparent;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-list-item{
    padding-bottom: 48px;
}
.portfolio-container{
padding: 32px 16px 32px 16px ;
border-bottom: 1px solid #E7E9FC;
background: var(--background-color);
}
