:root {
    --dark-color: #2E2F42;
    --text: #434455;
    --background-color: #FFFFFF;
    --background-color-page-header: #2E2F42;
    --light: #F4F4FD;
    --pressed-state: #404BBF;
    --primary-brand: #4D5AE5;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    background: var(--background-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

address {
    font-style: normal;
}

/* header */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--primary-brand);
    letter-spacing: 0.03em;
    text-transform: uppercase
}

.logo-name {
    color: var(--dark-color);
}

.nav-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.list .link {
    color: var(--background-color-page-header);
}

.link:hover,
.link:focus {
    color: var(--pressed-state);
}

 .contact-link:hover,
 .contact-link:focus {
    color: var(--pressed-state);
}

.contact-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* .contact-list .contact-link {
    color: var(--text);
} */

/* section hero */

.hero {
    background: var(--background-color-page-header);
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--background-color);
}

.hero-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--background-color);
    background-color: var(--primary-brand);
    cursor: pointer
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--pressed-state);
}

/* section advantages and our-team */

.headlines {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--background-color-page-header);
    text-transform: capitalize
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--background-color-page-header);
}

.description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}

.our-team {
    background-color: var(--light);
}

.team-item {
    background-color: var(--background-color);
}

/* footer */
.footer {
    background: var(--background-color-page-header);
}

.logo-footer {
    color: var(--light);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light);
}

/* portfolio */

.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    background-color: var(--light);
    color: var(--primary-brand);
    cursor: pointer
}

.button:hover,
.button:focus {
    background: var(--pressed-state);
    color: var(--background-color);
}